footer.footer
    .container
        .row
            .col-md-4
                h5 Liên Hệ
                p Địa chỉ: 123 Đường ABC, Quận XYZ, Thành phố HN
                p Điện thoại: (0123) 456 789
                p Email: info@nhom1.com
            .col-md-4
                h5 Về Chúng Tôi
                p Chúng tôi là Nhóm 1, chuyên cung cấp các giải pháp công nghệ thông tin hiện đại.
                ul
                    li 
                        a(href="#") Giới thiệu
                    li 
                        a(href="#") Dịch vụ
                    li 
                        a(href="#") Blog
            .col-md-4
                h5 Theo Dõi Chúng Tôi
                ul.social-links
                    li 
                        a(href="https://www.facebook.com/nhom1" target="_blank") Facebook
                    li 
                        a(href="https://www.twitter.com/nhom1" target="_blank") Twitter
                    li 
                        a(href="https://www.instagram.com/nhom1" target="_blank") Instagram
                    li 
                        a(href="https://www.linkedin.com/company/nhom1" target="_blank") LinkedIn
        .row
            .col-md-12
                p.text-center © 2024 Nhóm 1. Tất cả các quyền được bảo lưu.
