extends ../../layouts/default
include ../../mixins/layout-girl.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                h1 Kết Quả tìm Kiếm 

        +product-girl(products)