extends ../../layouts/default.pug
include ../../mixins/layout-girl.pug

block main 
        .container.my-3
            .row    
                .col-12     
                    .box-head 
                        if(categorys)
                            h1 #{categorys.title}
                        else 
                            h1 Danh Sách Sản Phẩm

                       
            
            +product-girl(products)