.sider 
    .inner-menu 
        ul 
            li 
                a(href=`/${prefix}/dashboard`) Tổng Quan
            li 
                a(href=`/${prefix}/product`) Sản Phẩm
            li 
                a(href=`/${prefix}/product_category`) Danh Mục Sản Phẩm
